# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Version control
.git
.gitignore

# Environment files
.env
.env.local
.env.*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db